@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700;900&display=swap');

*{
	padding: 0;
	margin: 0;
}

ul,li,a,div,span,textarea,button{
	box-sizing: border-box;
}
ul, li {
  display: block;
  padding: 0;
  margin: 0;
}
div, p, form, input, a, span, button {
  box-sizing: border-box;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0em;
}


a, a:hover, a:active {
  text-decoration: none;
}

a, button, input {
  transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
  outline: none;
}

.container{
	width: 1170px;
}

body{
	font-family: 'Titillium Web', sans-serif;
	background-color: #33373c;
}

/*---*/
.header{
	background-color: #33373c;
	width: 100%;
	min-height: 100vh;
}
.topNav{
	padding: 20px 0 0 0;
}
.link{
	display: flex;
	flex-direction: column;

}
.mainLink{
	color: #fff;
	display: flex;
	perspective: 200px;
}
.mainLink:hover{
	color: #fff;
}
.fa-laptop-code{
	font-size: 35px;
	transform: rotateY(-20deg);

}
.name{
	font-weight: bold;
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	margin-top: -3px;
	transform: rotateY(15deg);
}

.name_span{
	
	margin-top: -5px;
}
.span-red{
	color: #dc3545;
}
.signature{
	display: flex;
	perspective: 200px;
	color: #dc3545;
	font-weight: bold;
	font-size: 13px;
	/* text-shadow: 0px 0px 8px transparent; */
	margin-left: -13px;
	
	
}
.transparent{
	color: transparent;
}

.oclock{
	font-weight: bold;
	font-size: 18px;
	display: flex;
	justify-content: center;
}
.btnMenu{
	display: flex;
	justify-content: center;
}
.oclock__text{
	margin-right: 10px;
}
.hours , .dot ,.minutes{
	margin-right: 5px;
}
.oclock__icons{
	color: #82c91e;
	margin-left: 10px;
	font-size: 30px;
	margin-top: -7px;
	
}
.infoDay{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.oclock{
	margin-top: 5px;
}

.date{
	font-weight: bold;
	font-size: 18px;
	
}
.btnMenu{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	cursor: pointer;
	margin-top: 10px;
}
.btnMenu__lineTop , .btnMenu__lineCenter , .btnMenu__lineBottom{
	width: 30px;
	height: 2px;
	background-color: #dc3545;
	transition: all 0.3s;
	background-color: #82c91e;

}
.btnMenu__lineCenter , .btnMenu__lineBottom{
	margin-top: 5px;
	width: 22px;
}
.btnMenu__lineBottom{
	width: 17px;

}
.btnMenu:hover .btnMenu__lineBottom,.btnMenu:hover .btnMenu__lineCenter{
	width: 30px;
	transition: all 0.3s;
}
.hr-end{
	height: 1px !important;
}
.offer{
	margin-top: 10%;
	border-radius: 20px;
	background: linear-gradient(145deg, #2e3236, #373b40);
	box-shadow:  25px 25px 50px #2f3337,
             -25px -25px 50px #373b41;
	padding: 20px;		 
}
.divLinks{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50%;
	justify-content: space-around;
	margin-top: 50px;
}
.main{
	color: #fff;
}
.main__title{
	
	font-size: 45px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.main__title span{
	font-size: 25px;
	font-weight: normal;
	margin-left: 2px;
	letter-spacing: 1px;
	
}
.divLinks__item{
	color: #dc3545;
	font-size: 20px;
	text-shadow: 0px 0px 2px rgb(104 89 89);
}
.divLinks__item:hover{
	color: #82c91e;
}
.main__motto{
	font-size: 18px;
	margin-bottom: 10px;
}
.main__text{
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0.5px;
}

.lang{
	margin-top: 10px;
}
.lang__item:first-child{
	color: #dc3545;
}
.lang__item:nth-child(2){
	color: #ffc107;
}
.lang__item:last-child{
	color: #82c91e;
}
.offetBtn{
	outline: none;
	border: none;
	background-color: transparent;
	font-weight: bold;
	margin-top: 20px;
	color: #82c91e;
	margin-bottom: 20px;
	font-size: 20px;
	width: 40px;
	height: 40px;
	position: relative;
	border: 2px solid #dc3545;
	border-radius: 40%;
	background-color: #dc3545;
}
.offerBtn__text{
	position: absolute;
	width: 150px;
	top: 4px;
	left: 10px;
	text-shadow: 0px 0px 2px rgb(104 89 89);
}
.fa-paper-plane{
	margin-left: 5px;
}
.offetBtn:hover{
	width: 170px;
	border-top-left-radius: 40%;
	border-bottom-left-radius: 40%;
	border-top-right-radius: 20%;
	border-bottom-right-radius: 20%;
	color: #fff;
}
